.rw-modal-root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 0;
    overflow: visible;
    z-index: 1050;
}

.rw-modal-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.rw-modal-wrapper {
    position: absolute;
    width: 100%;
    min-height: 100%;
    outline: none;
}

.rw-modal-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rw-modal-centered .rw-modal {
    margin: 30px 0;
}

.rw-modal-wrapper:not(.rw-modal-centered) .rw-modal {
    margin: 0 auto;
    margin-bottom: 30px;
    top: 100px;
}

.rw-modal-wrapper-fullscreen {
    overflow: hidden;
    height: 100%;
}

.rw-modal-wrapper.rw-modal-wrapper-fullscreen .rw-modal {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
}

.rw-modal {
    position: relative;
    display: flex;
    flex-direction: column;
}

.rw-modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.rw-modal-mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.45);
}

.rw-modal-fixed,
.rw-modal-mask-fixed {
    position: fixed;
}

.rw-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    background: 0 0;
    border: 0;
    /* outline: 0; */
    cursor: pointer;
    transition: color 0.3s;
}

.rw-modal-close-x {
    display: block;
    width: 56px;
    height: 56px;
    font-size: 16px;
    font-style: normal;
    line-height: 56px;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
}

.rw-modal-header {
    padding: 16px 24px;
    color: rgba(0, 0, 0, 0.65);
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
    flex: none;
}

.rw-modal-title {
    margin: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    word-wrap: break-word;
}

.rw-modal-body {
    padding: 24px;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
    flex: 1;
    overflow: auto;
}

.rw-modal-footer {
    padding: 10px 16px;
    text-align: right;
    background: 0 0;
    border-top: 1px solid #f0f0f0;
    border-radius: 0 0 2px 2px;
    flex: none;
}

/***animate***/
.rw-modal-appear,
.rw-modal-enter {
    opacity: 0.01;
    transform: translateY(-20px);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.rw-modal-appear-active,
.rw-modal-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.rw-modal-exit {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.rw-modal-exit-active {
    opacity: 0.01;
    transform: translateY(-20px);
}

.rw-modal-mask-appear,
.rw-modal-mask-enter {
    opacity: 0.01;
    transition: opacity 0.3s ease-out;
}
.rw-modal-mask-appear-active,
.rw-modal-mask-enter-active {
    opacity: 1;
}
.rw-modal-mask-exit {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}
.rw-modal-mask-exit-active {
    opacity: 0.01;
}

/***footer button***/
.rw-modal-footer button + button {
    margin-left: 8px;
}

.rw-btn {
    /* outline: 0; */
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    height: 32px;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 2px;
}

.rw-btn-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
